@import "less/_normalize";


// I M P O R T
@import (inline) "less/shoelace/variables.css";
@import (inline) "less/shoelace/forms.css";

@import (inline) "less/shoelace/tables.css";
@import (inline) "less/shoelace/loaders.css";
@import (inline) "less/shoelace/switches.css";

@import "less/_variables";
@import "less/_globals";
// @import "less/_media";
// @import "less/_modal";

::-moz-selection {
  background: rgba(151, 151, 151,0.25);
}
::selection {
  background: rgba(151, 151, 151,0.25);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  @scrollbar-height: 8px;
  @scrollbar-padding: 5px;
  @scrollbar-border: 6px;
  .custom_scrollbar(8px, 5px, 6px);
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: @c-noir;

  position: relative;
  margin: 0;
}

body {
  &.has_modal_opened {
    overflow-y: auto;
  }
}

.switch-xs {
  --switch-size: 0.9rem;
}
.range-xs {
  --switch-size: 0.9rem;
  
}

/************************************************************************

      APP

************************************************************************/

#app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;

  height: 100%;
  width: 100%;
  margin: 0 auto;


  display: flex;
  flex-flow: row nowrap;
}


html,body {
  margin: 0;
  height: 100%;

  @bg-color: #fff;
  @dot-color: @c-gris;
  @dot-size: 1px;
  @dot-spacing: 80px;

  background: radial-gradient(ellipse at center, @dot-color 0%, @dot-color @dot-size, @bg-color @dot-size+1px);
  background-repeat: repeat;
  background-size: @dot-spacing @dot-spacing;
  background-position: -@dot-spacing/2 -@dot-spacing/2;
}

* {
  box-sizing: border-box;
}


.m_uploadFile {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .c-noir;
  .font-verysmall; 

  height: 60px;

  .margin-bottom-small;
  .bg-gris_tresclair;
  border-radius: @t-buttonradius;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    
    transform: scale(var(--progress-percent), 1);
    transform-origin: left center;
    
    transition: all .1s;
    .bg-bleuvert;
  }

  > * {
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
  }
  
  &.is--success {
  }
  &.is--failed {
    &::before {
      .bg-rouge;
    }
  }

  .m_uploadFile--image {
    display: block;
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    background-color: fade(white, 35%);
  }

  .m_uploadFile--filename {
    .text-ellipsis;
    .font-small; 
    .c-noir;
    .padding-verysmall;
  }
  .m_uploadFile--size {
    flex: 0 0 70px;
  }
  .m_uploadFile--action {
    flex: 0 0 70px;

    button {
      // .bg-bleuvert;
      background-color: transparent;
      color: inherit;
    }
  }




}



/**********************************************************************
                              MAIN VIEWS
**********************************************************************/

.m_imageselect {
  width: 100%;

  .m_imageselect--input {    
  }
  .m_imageselect--image {
    .bg-gris_tresclair;
    border-radius: 6px;
    overflow: hidden;
    border-bottom: solid var(--input-border-width) var(--input-border-color);

    img {
      width: 100%;
      // margin-bottom: @t-skipline;
    }

    button {
    }
  }
}


.m_sidebar {
  position: relative;
  flex: 1 0 320px;
  max-width: 320px;
  min-width: 320px;
  // padding: 1em;

  overflow: hidden;
  height: 100%;
  text-align: left;

  @bg-color: #fff;
  @dot-color: @c-gris;
  @dot-size: 1px;
  @dot-spacing: 40px;

  background: radial-gradient(ellipse at center, @dot-color 0%, @dot-color @dot-size, @bg-color @dot-size+1px);
  background-repeat: repeat;
  background-size: @dot-spacing @dot-spacing;
  background-position: -@dot-spacing/2 -@dot-spacing/2;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .m_sidebar--header {
    min-height: 60px;
    flex: 0 0 auto;

    background-color: #f9f9f9;
  }
  .m_sidebar--layerlist {
    flex: 1 1 auto;
    overflow: auto;
    .custom_scrollbar(8px, 5px, 6px);
    background-color: #fff;
  }
  .m_sidebar--footer {
    flex: 0 0 auto;
    background-color: #eee;
  }
}

.draggable-item {
  height: auto;
  text-align: left;
  width: 100%;
  display: block;
  background-color: #fff;
  outline: 0;

  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;

  margin-bottom: 4px;
  margin-top: 2px;
  cursor: default;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.column-drag-handle {
  position: relative;
  background-color: #fff;
  color: #000;
  text-shadow: 0px 0px 4px white;
  background-size: cover;
  overflow: hidden;
  flex: 0 0 3em;
  cursor: move;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // padding: 1em;
  text-align: left;
  flex: 1 1 auto;
  padding: 0 1em;
}

.m_calques {
  position: relative;
  flex: 1 0 auto;
  min-width: 320px;
  // padding: 1em;

  overflow: hidden;
  height: 100%;
  text-align: left;
 
}


.alertify-logs {
  z-index: 20000;
  right: 48px;
  pointer-events: none;
  .font-small;
}
.alertify-logs > *, .alertify-logs > .default {
  background-color: @c-gris_clair;
  color: @c-noir;
  pointer-events: auto;
}
.alertify-logs > .error {
  .bg-rouge;
  color: white;
}
.alertify-logs > .success {
  .bg-bleuvert;
  color: white;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}


.quillWrapper {
  display: flex;
  flex-flow: column nowrap;

  .ql-container {
    font-family: inherit;
  }
  .ql-toolbar button {
    min-height: 0;
  }
  .ql-toolbar.ql-snow {
    .bg-blanc;
    font-family: inherit;
  }

  > * {
    flex: 0 0 auto;
  
    &.ql-container {
      flex: 1 1 auto;
      height: auto;
    }
    .ql-editor {
      .textarea;
      min-height: 60vh;

      border-left: 2px solid transparent;
      height: 100%;
      border-left: solid var(--input-border-width) var(--input-border-color);
      border-radius: var(--input-border-radius);
      border-radius: 0;

      font-size:14pt !important;
  
      // background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
      // background-size: 30px 30px;
      // background-attachment: local;
  
      // background: linear-gradient(transparent, transparent ~"calc(@{t-skipline} - 2px)", rgba(0,0,0,.15) ~"calc(@{t-skipline} - 2px)");
      // background-size: @t-skipline @t-skipline;
      // background-attachment: local;
      // background-position-y: ~"calc(@{t-skipline} * 0.85)";

      &:focus {
        border-left-color: @c-orange;
        background-color: white;
      }

      .ql-toolbar::before {
        content: 'options :';
        position: relative;
        display: inline-block;
        font-size:1rem;
        vertical-align: middle;
        font-weight: 400;
        /* background-color: #333; */
        /* left: -8px; */
        margin:0;
        /* padding: 11px; */
        margin-bottom: 10px;
        /* text-decoration: underline; */
        font-size: .8rem;
        /* text-transform: uppercase; */
        margin-right: 15px;
        /* font-style: italic; */
      }         
      @import (multiple) "less/publications_styles/standard.less";  
    }
  } 
}


.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity .6s linear;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transition: opacity .6s linear;
}

.slideup-enter-active, .slideup-leave-active {
  transform: translateY(0);
  transition: opacity .4s linear, transform .4s ease-out;
}
.slideup-enter, .slideup-leave-to {
  // opacity: 0;
  transform: translateY(100%);
  transition: opacity .4s linear, transform .4s ease-out;
}
.slideleft-enter-active, .slideleft-leave-active {
  transform: translateX(0);
  transition: opacity .4s linear, transform .4s ease-out;
}
.slideleft-enter, .slideleft-leave-to {
  // opacity: 0;
  transform: translateX(-100%);
  transition: opacity .4s linear, transform .4s ease-out;
}

.list-complete-move {
  position: relative;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
}
.list-complete-leave-active {
  position: absolute;
  z-index: 0 !important;
}

.fileupload_list-move {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.fileupload_list-complete-enter, .fileupload_list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.fileupload_list-complete-leave-active {
  position: absolute;
}

.ListView-enter-active, .ListView-leave-active {
  opacity: 1;
  transform: scale(1);
  transform-origin: center center;
  transition: all .5s linear;
}
.ListView-enter, .ListView-leave-to {
  opacity: 0;
  transform: scale(0.96);
  transition: all .5s linear;
}

.ProjectView-enter-active, .ProjectView-leave-active {
  transform: translateY(0);
  transition: transform .5s cubic-bezier(.25,.8,.25,1);
}
.ProjectView-enter, .ProjectView-leave-to {
  transform: translateY(100vh);
  transition: transform .5s cubic-bezier(.25,.2,.25,1);
}

.CaptureView-enter-active, .CaptureView-leave-active {
  transform: translateX(0);
  transition: transform .5s cubic-bezier(.25,.8,.25,1);
}
.CaptureView-enter, .CaptureView-leave-to {
  transform: translateX(100vw);
  transition: transform .5s cubic-bezier(.25,.2,.25,1);
}

.MediaView-enter-active, .MediaView-leave-active {
  transform: translateX(0);
  transition: transform .5s cubic-bezier(.25,.8,.25,1);
}
.MediaView-enter, .MediaView-leave-to {
  transform: translateX(100vw);
  transition: transform .5s cubic-bezier(.25,.2,.25,1);
}

.popUp-enter-active, .popUp-leave-active {
  transform: translate3d(0, 0, 0);
  transition: transform 1s cubic-bezier(.25,.2,.25,1);
}
.popUp-enter, .popUp-leave-to {
  transform: translate3d(0, 150px, 0);
  transition: transform 1s cubic-bezier(.25,.2,.25,1);
}

.mediaCapture-leave-active {
  // transform: translateY(-100%);
  opacity: 1;
  transition: all .3s ease-out;
}
.mediaCapture-leave-to {
  // transform: translateY(100%);
  opacity: 0;
  transition: all .3s ease-out;
}

.scaleIn-enter-active, .scaleIn-leave-active {
  opacity: 1;
  transform: scale(1);
  transform-origin: center center !important;
  transition: all .3s ease-out;
}
.scaleIn-enter, .scaleIn-leave-to /* .list-leave-active below version 2.1.8 */ {
  transform: scale(.7);
  opacity: 0;
}

.slideFromTop-enter-active, .slideFromTop-leave-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transform-origin: center center !important;
  transition: all .3s ease-out;
}
.slideFromTop-enter, .slideFromTop-leave-to /* .list-leave-active below version 2.1.8 */ {
  transform: translate3d(0, -15px, 0);
  opacity: 0;
}

.BackButton-enter-active, .BackButton-leave-active {
  // transform: translate3d(0, 0, 0);
  max-width: 100px;
  opacity: 1;
  transition: all .5s cubic-bezier(.25,.2,.25,1);
}
.BackButton-enter, .BackButton-leave-to {
  // transform: translate3d(-120px, 0, 0);
  max-width: 0;
  opacity: 0;
  transition: all .5s cubic-bezier(.25,.2,.25,1);
}


.enableMode-enter-active, .enableMode-leave-active {
  opacity: 1;
  transition: all .1s ease-out;
}
.enableMode-enter {
  opacity: 0;
}
.enableMode-leave-to {
  opacity: 0;
  transition: all .3s ease-out;
}

/**********************************************************
              
                          SPECIAL MODES

**********************************************************/
